In [1]:
import numpy as np
import pandas as pd

import matplotlib 
from matplotlib import pyplot as plt
%matplotlib inline

from sklearn import *

from sklearn.neural_network import MLPRegressor

/usr/local/lib/python3.5/dist-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)
/usr/local/lib/python3.5/dist-packages/sklearn/grid_search.py:43: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. This module will be removed in 0.20.
  DeprecationWarning)
/usr/local/lib/python3.5/dist-packages/sklearn/lda.py:6: DeprecationWarning: lda.LDA has been moved to discriminant_analysis.LinearDiscriminantAnalysis in 0.17 and will be removed in 0.19
  "in 0.17 and will be removed in 0.19", DeprecationWarning)
/usr/local/lib/python3.5/dist-packages/sklearn/learning_curve.py:23: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the functions are moved. This module will be removed in 0.20
  DeprecationWarning)
/usr/local/lib/python3.5/dist-packages/sklearn/qda.py:6: DeprecationWarning: qda.QDA has been moved to discriminant_analysis.QuadraticDiscriminantAnalysis in 0.17 and will be removed in 0.19.
  "in 0.17 and will be removed in 0.19.", DeprecationWarning)

In [2]:
# Import sales data
train = pd.read_csv('data/sales_train.csv')
trainOG = pd.read_csv('data/sales_train.csv')
test = pd.read_csv('data/test.csv')

In [3]:
# Import supplemental data
items = pd.read_csv('data/items.csv')
item_categories = pd.read_csv('data/item_categories.csv')
shop = pd.read_csv('data/shops.csv')

In [4]:
print(train.shape)
print(test.shape)

(2935849, 6)
(214200, 3)

In [5]:
train.head()

         date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0  02.01.2013               0       59    22154      999.00           1.0
1  03.01.2013               0       25     2552      899.00           1.0
2  05.01.2013               0       25     2552      899.00          -1.0
3  06.01.2013               0       25     2554     1709.05           1.0
4  15.01.2013               0       25     2555     1099.00           1.0

In [6]:
test.head()

   ID  shop_id  item_id
0   0        5     5037
1   1        5     5320
2   2        5     5233
3   3        5     5232
4   4        5     5268

In [7]:
# Remove duplicated rows
print('Before drop train shape:', train.shape)
train.drop_duplicates(subset=['date', 'date_block_num', 'shop_id', 'item_id', 'item_cnt_day'], keep='first', inplace=True)
train.reset_index(drop=True, inplace=True)
print('After drop train shape:', train.shape)

Before drop train shape: (2935849, 6)
After drop train shape: (2935825, 6)

In [8]:
# Check for outliers
print('item_price Stats')
print('Min: ', train.item_price.min())
print('Max: ', train.item_price.max())
print('Mean: ', train.item_price.mean())
print('Median: ', train.item_price.median())
print(' ')
print(train.item_price.value_counts().sort_index(ascending=False))

In [9]:
# Remove -1 and 307980
print('before train shape:', train.shape)
train = train[(train.item_price > 0) & (train.item_price < 300000)]
print('after train shape:', train.shape)

before train shape: (2935825, 6)
after train shape: (2935823, 6)

In [10]:
train.item_price.hist()

In [11]:
train.item_price.map(np.log1p).hist()

In [12]:
print('item_cnt_day Stats')
print('Min: ', train.item_cnt_day.min())
print('Max: ', train.item_cnt_day.max())
print('Mean: ', train.item_cnt_day.mean())
print('Median', train.item_cnt_day.median())

In [13]:
train.item_cnt_day.hist()

In [14]:
plt.plot(train.groupby('date_block_num').sum()['item_cnt_day'])
plt.title('Sales per month')

In [15]:
train.shop_id.hist()

In [16]:
train.item_id.hist()

In [17]:
print('Overall Counts:')
print('# of date_block_num:', train.date_block_num.nunique())
print('# of shop ids:', train.shop_id.nunique())
print('# of item ids:', train.item_id.nunique())
print('max # of total combinations:', train.date_block_num.nunique()*train.shop_id.nunique()*train.item_id.nunique())

Overall Counts:
# of date_block_num: 34
# of shop ids: 60
# of item ids: 21806
max # of total combinations: 44484240

In [19]:
train.head()

         date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0  02.01.2013               0       59    22154      999.00           1.0
1  03.01.2013               0       25     2552      899.00           1.0
2  05.01.2013               0       25     2552      899.00          -1.0
3  06.01.2013               0       25     2554     1709.05           1.0
4  15.01.2013               0       25     2555     1099.00           1.0

In [20]:
# Create Text Features

feature_cnt = 25

tfidf = feature_extraction.text.TfidfVectorizer(max_features=feature_cnt)
items['item_name_len'] = items['item_name'].map(len) #Lenth of Item Description
items['item_name_wc'] = items['item_name'].map(lambda x: len(str(x).split(' '))) #Item Description Word Count
txtFeatures = pd.DataFrame(tfidf.fit_transform(items['item_name']).toarray())
cols = txtFeatures.columns
for i in range(feature_cnt):
    items['item_name_tfidf_' + str(i)] = txtFeatures[cols[i]]

items = items[['item_id', 'item_category_id']]
items.head()

   item_id  item_category_id
0        0                40
1        1                76
2        2                40
3        3                40
4        4                40

In [21]:
# Apply TD-IDF Vectorization to item category data

tfidf = feature_extraction.text.TfidfVectorizer(max_features=feature_cnt)
item_categories['item_category_name_len'] = item_categories['item_category_name'].map(len)  #Lenth of Item Category Description
item_categories['item_category_name_wc'] = item_categories['item_category_name'].map(lambda x: len(str(x).split(' '))) #Item Category Description Word Count
txtFeatures = pd.DataFrame(tfidf.fit_transform(item_categories['item_category_name']).toarray())
cols = txtFeatures.columns
for i in range(feature_cnt):
    item_categories['item_category_name_tfidf_' + str(i)] = txtFeatures[cols[i]]
item_categories.head()

,item_category_name,item_category_id,item_category_name_len,item_category_name_wc,item_category_name_tfidf_0,item_category_name_tfidf_1,item_category_name_tfidf_2,item_category_name_tfidf_3,item_category_name_tfidf_4,item_category_name_tfidf_5,...,item_category_name_tfidf_15,item_category_name_tfidf_16,item_category_name_tfidf_17,item_category_name_tfidf_18,item_category_name_tfidf_19,item_category_name_tfidf_20,item_category_name_tfidf_21,item_category_name_tfidf_22,item_category_name_tfidf_23,item_category_name_tfidf_24
0,PC - Гарнитуры/Наушники,0,23,3,0.0,0.0,0.0,1.0,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Аксессуары - PS2,1,16,3,0.0,0.0,0.0,0.0,0.780837,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Аксессуары - PS3,2,16,3,0.0,0.0,0.0,0.0,0.000000,0.780837,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Аксессуары - PS4,3,16,3,0.0,0.0,0.0,0.0,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Аксессуары - PSP,4,16,3,0.0,0.0,0.0,0.0,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [23]:
# Aggreate daily sales to monthly sales
# Rename item_cnt_day to item_cnt_month

train_month = train.groupby(['date_block_num', 'shop_id','item_id'], as_index=False).item_cnt_day.sum()
train_month = train_month.rename(columns={'item_cnt_day':'item_cnt_month'})

train_month.head()

   date_block_num  shop_id  item_id  item_cnt_month
0               0        0       32             6.0
1               0        0       33             3.0
2               0        0       35             1.0
3               0        0       43             1.0
4               0        0       51             2.0

In [24]:
# Add additional data to training set

# Make Monthly
train['date'] = pd.to_datetime(train['date'], format='%d.%m.%Y')
train['month'] = train['date'].dt.month
train['year'] = train['date'].dt.year
train = train.drop(['date','item_price'], axis=1)
train = train.groupby([c for c in train.columns if c not in ['item_cnt_day']], as_index=False)[['item_cnt_day']].sum()
train = train.rename(columns={'item_cnt_day':'item_cnt_month'})#Monthly Mean
shop_item_monthly_mean = train[['shop_id','item_id','item_cnt_month']].groupby(['shop_id','item_id'], as_index=False)[['item_cnt_month']].mean()
shop_item_monthly_mean = shop_item_monthly_mean.rename(columns={'item_cnt_month':'item_cnt_month_mean'})

# Add Mean Feature
train = pd.merge(train, shop_item_monthly_mean, how='left', on=['shop_id','item_id'])

# Last Month (Oct 2015)
shop_item_prev_month = train[train['date_block_num']==33][['shop_id','item_id','item_cnt_month']]
shop_item_prev_month = shop_item_prev_month.rename(columns={'item_cnt_month':'item_cnt_prev_month'})
shop_item_prev_month.head()

# Add Previous Month Feature
train = pd.merge(train, shop_item_prev_month, how='left', on=['shop_id','item_id']).fillna(0.)

# Item Category features
train = pd.merge(train, items, how='left', on='item_id')
train = pd.merge(train, item_categories, how='left', on='item_category_id')

train.head()

,date_block_num,shop_id,item_id,month,year,item_cnt_month,item_cnt_month_mean,item_cnt_prev_month,item_category_id,item_category_name,...,item_category_name_tfidf_15,item_category_name_tfidf_16,item_category_name_tfidf_17,item_category_name_tfidf_18,item_category_name_tfidf_19,item_category_name_tfidf_20,item_category_name_tfidf_21,item_category_name_tfidf_22,item_category_name_tfidf_23,item_category_name_tfidf_24
0,0,0,32,1,2013,6.0,8.0,0.0,40,Кино - DVD,...,0.0,1.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0,0,33,1,2013,3.0,3.0,0.0,37,Кино - Blu-Ray,...,0.0,0.520482,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0,0,35,1,2013,1.0,7.5,0.0,40,Кино - DVD,...,0.0,1.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0,0,43,1,2013,1.0,1.0,0.0,40,Кино - DVD,...,0.0,1.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0,0,51,1,2013,2.0,2.5,0.0,57,Музыка - MP3,...,0.0,0.000000,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [25]:
# Add additional data to test set

test['month'] = 11
test['year'] = 2015
test['date_block_num'] = 34

# Add Mean Feature

test = pd.merge(test, shop_item_monthly_mean, how='left', on=['shop_id','item_id']).fillna(0.)

# Add Previous Month Feature
test = pd.merge(test, shop_item_prev_month, how='left', on=['shop_id','item_id']).fillna(0.)

# Items features
test = pd.merge(test, items, how='left', on='item_id')

# Item Category features
test = pd.merge(test, item_categories, how='left', on='item_category_id')

# Set the sales data to 0 for test set
test['item_cnt_month'] = 0.

test.head()

,ID,shop_id,item_id,month,year,date_block_num,item_cnt_month_mean,item_cnt_prev_month,item_category_id,item_category_name,...,item_category_name_tfidf_16,item_category_name_tfidf_17,item_category_name_tfidf_18,item_category_name_tfidf_19,item_category_name_tfidf_20,item_category_name_tfidf_21,item_category_name_tfidf_22,item_category_name_tfidf_23,item_category_name_tfidf_24,item_cnt_month
0,0,5,5037,11,2015,34,1.444444,0.0,19,Игры - PS3,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,5,5320,11,2015,34,0.000000,0.0,55,Музыка - CD локального производства,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,2,5,5233,11,2015,34,2.000000,1.0,19,Игры - PS3,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,5,5232,11,2015,34,1.000000,0.0,23,Игры - XBOX 360,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,5,5268,11,2015,34,0.000000,0.0,20,Игры - PS4,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [26]:
# Label Encode item categories

for c in ['item_category_name']:

    lbl = preprocessing.LabelEncoder()
    lbl.fit(list(train[c].unique())+list(test[c].unique()))
    train[c] = lbl.fit_transform(train[c].astype(str))
    test[c] = lbl.fit_transform(test[c].astype(str))
    print(c)

item_category_name

In [49]:
# Split training data into training and validation sets
# Split features from labels
# Apply log tranformation to monthly sales data

x1 = train[train['date_block_num']<33]
y1 = np.log1p(x1['item_cnt_month'].clip(0.,20.))
col = [c for c in train.columns if c not in ['item_cnt_month']]
x1 = x1[col]

x2 = train[train['date_block_num']==33]
y2 = np.log1p(x2['item_cnt_month'].clip(0.,20.))
x2 = x2[col]

# Prepare full dataset for model by splitting features from labels
# Apply log tranformation to monthly sales data

fullsetX = train
fullsetY = np.log1p(fullsetX['item_cnt_month'].clip(0.,20.))
fullsetX = fullsetX[col] 

fulltestX = test
fulltestY = np.log1p(fulltestX['item_cnt_month'].clip(0.,20.))
fulltestX = fulltestX[col]

In [46]:
test.head()

,ID,shop_id,item_id,month,year,date_block_num,item_cnt_month_mean,item_cnt_prev_month,item_category_id,item_category_name,...,item_category_name_tfidf_16,item_category_name_tfidf_17,item_category_name_tfidf_18,item_category_name_tfidf_19,item_category_name_tfidf_20,item_category_name_tfidf_21,item_category_name_tfidf_22,item_category_name_tfidf_23,item_category_name_tfidf_24,item_cnt_month
0,0,5,5037,11,2015,34,1.444444,0.0,19,11,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,5,5320,11,2015,34,0.000000,0.0,55,39,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,2,5,5233,11,2015,34,2.000000,1.0,19,11,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,5,5232,11,2015,34,1.000000,0.0,23,15,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,5,5268,11,2015,34,0.000000,0.0,20,12,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [29]:
# Plot cumlative Monthly item sales
plt.plot(train_month.groupby('date_block_num').sum()['item_cnt_month'])

In [30]:
# Linear Regression Model (Baseline)
regr = linear_model.BayesianRidge()
regr.fit(x1,y1)
y_pred = regr.predict(x2).clip(0.,20.)

print("Root Mean squared error (RMSE): %.2f" % np.sqrt(metrics.mean_squared_error(y2.clip(0.,20.), y_pred)))

In [32]:
# MLPRegressor model

reg = MLPRegressor(hidden_layer_sizes=(100,), verbose=True)
reg.fit(x1,y1)
y_pred = reg.predict(x2).clip(0.,20.)

print("Root Mean squared error (RMSE): %.2f" % np.sqrt(metrics.mean_squared_error(y2.clip(0.,20.), y_pred)))

Iteration 1, loss = 40.80747876
Iteration 2, loss = 8.78015533
Iteration 3, loss = 8.25500232
Iteration 4, loss = 7.46070291
Iteration 5, loss = 6.90161968
Iteration 6, loss = 6.83810926
Iteration 7, loss = 5.59015189
Iteration 8, loss = 5.46252353
Iteration 9, loss = 4.92468482
Iteration 10, loss = 4.65698062
Iteration 11, loss = 4.04076554
Iteration 12, loss = 3.77910971
Iteration 13, loss = 3.56395611
Iteration 14, loss = 3.43128359
Iteration 15, loss = 3.20828196
Iteration 16, loss = 2.75132055
Iteration 17, loss = 2.62307634
Iteration 18, loss = 2.27638789
Iteration 19, loss = 2.20266457
Iteration 20, loss = 2.09660612
Iteration 21, loss = 1.82729734
Iteration 22, loss = 1.67381334
Iteration 23, loss = 1.41051206
Iteration 24, loss = 1.38081626
Iteration 25, loss = 1.27081239
Iteration 26, loss = 1.20950759
Iteration 27, loss = 1.04704859
Iteration 28, loss = 0.88456930
Iteration 29, loss = 0.87484696
Iteration 30, loss = 0.75496608
Iteration 31, loss = 0.71665522
Iteration 32, loss = 0.65986185
Iteration 33, loss = 0.57207091
Iteration 34, loss = 0.50139098
Iteration 35, loss = 0.42392614
Iteration 36, loss = 0.35922257
Iteration 37, loss = 0.33829346
Iteration 38, loss = 0.30747080
Iteration 39, loss = 0.30749615
Iteration 40, loss = 0.25916902
Iteration 41, loss = 0.24906074
Iteration 42, loss = 0.22732501
Iteration 43, loss = 0.21264601
Iteration 44, loss = 0.21492587
Iteration 45, loss = 0.17846623
Iteration 46, loss = 0.17801915
Iteration 47, loss = 0.16670671
Iteration 48, loss = 0.16060711
Iteration 49, loss = 0.15706692
Iteration 50, loss = 0.14985547
Iteration 51, loss = 0.14075209
Iteration 52, loss = 0.13649450
Iteration 53, loss = 0.13036351
Iteration 54, loss = 0.12393260
Iteration 55, loss = 0.11973674
Iteration 56, loss = 0.10733335
Iteration 57, loss = 0.10361038
Iteration 58, loss = 0.09999530
Iteration 59, loss = 0.09550808
Iteration 60, loss = 0.08968075
Iteration 61, loss = 0.08469110
Iteration 62, loss = 0.08032712
Iteration 63, loss = 0.07672663
Iteration 64, loss = 0.07414862
Iteration 65, loss = 0.07070811
Iteration 66, loss = 0.06719766
Iteration 67, loss = 0.06345119
Iteration 68, loss = 0.05863421
Iteration 69, loss = 0.05656162
Iteration 70, loss = 0.05572178
Iteration 71, loss = 0.05564196
Iteration 72, loss = 0.05551923
Iteration 73, loss = 0.05552845
Iteration 74, loss = 0.05542702
Iteration 75, loss = 0.05540204
Training loss did not improve more than tol=0.000100 for two consecutive epochs. Stopping.
Root Mean squared error (RMSE): 0.27

In [47]:
model = MLPRegressor(hidden_layer_sizes=(100,), verbose=True)
model.fit(fullsetX,fullsetY)
prediction = model.predict(test).clip(0.,20.)

Iteration 1, loss = 25.20096155
Iteration 2, loss = 12.28702177
Iteration 3, loss = 11.52097892
Iteration 4, loss = 10.66353588
Iteration 5, loss = 10.59992650
Iteration 6, loss = 9.35354533
Iteration 7, loss = 8.83991191
Iteration 8, loss = 8.90212068
Iteration 9, loss = 7.36653249
Iteration 10, loss = 6.65787112
Iteration 11, loss = 6.64125549
Iteration 12, loss = 6.13095958
Iteration 13, loss = 5.52158159
Iteration 14, loss = 5.44925349
Iteration 15, loss = 4.79602701
Iteration 16, loss = 4.26803958
Iteration 17, loss = 4.14381820
Iteration 18, loss = 4.00310595
Iteration 19, loss = 3.68748349
Iteration 20, loss = 3.35309005
Iteration 21, loss = 3.43456510
Iteration 22, loss = 3.20804972
Iteration 23, loss = 2.63133006
Iteration 24, loss = 2.80806499
Iteration 25, loss = 2.37852571
Iteration 26, loss = 2.23588756
Iteration 27, loss = 2.05266781
Iteration 28, loss = 1.83081345
Iteration 29, loss = 1.63845308
Iteration 30, loss = 1.57746469
Iteration 31, loss = 1.46614271
Iteration 32, loss = 1.39637924
Iteration 33, loss = 1.22816665
Iteration 34, loss = 1.10326285
Iteration 35, loss = 0.97890392
Iteration 36, loss = 0.95009074
Iteration 37, loss = 0.89691222
Iteration 38, loss = 0.87973634
Iteration 39, loss = 0.76852428
Iteration 40, loss = 0.74912264
Iteration 41, loss = 0.69912524
Iteration 42, loss = 0.61034673
Iteration 43, loss = 0.58460447
Iteration 44, loss = 0.53215193
Iteration 45, loss = 0.52734585
Iteration 46, loss = 0.47467014
Iteration 47, loss = 0.45507616
Iteration 48, loss = 0.39478774
Iteration 49, loss = 0.36019960
Iteration 50, loss = 0.32400262
Iteration 51, loss = 0.29736241
Iteration 52, loss = 0.27034008
Iteration 53, loss = 0.24779973
Iteration 54, loss = 0.23155912
Iteration 55, loss = 0.20845783
Iteration 56, loss = 0.19231764
Iteration 57, loss = 0.17035550
Iteration 58, loss = 0.15882958
Iteration 59, loss = 0.13960347
Iteration 60, loss = 0.12772765
Iteration 61, loss = 0.11703226
Iteration 62, loss = 0.10833346
Iteration 63, loss = 0.09976746
Iteration 64, loss = 0.08751974
Iteration 65, loss = 0.08283536
Iteration 66, loss = 0.07748070
Iteration 67, loss = 0.07203936
Iteration 68, loss = 0.06810500
Iteration 69, loss = 0.06502671
Iteration 70, loss = 0.06312676
Iteration 71, loss = 0.06120988
Iteration 72, loss = 0.05893232
Iteration 73, loss = 0.05782325
Iteration 74, loss = 0.05620301
Iteration 75, loss = 0.05536803
Iteration 76, loss = 0.05529312
Iteration 77, loss = 0.05515563
Iteration 78, loss = 0.05525549
Iteration 79, loss = 0.05513140
Iteration 80, loss = 0.05506041
Training loss did not improve more than tol=0.000100 for two consecutive epochs. Stopping.

ValueError: shapes (214200,38) and (36,100) not aligned: 38 (dim 1) != 36 (dim 0)

In [50]:
prediction = model.predict(fulltestX).clip(0.,20.)

In [52]:
print(prediction)

[ 0.76187633  0.3250633   0.85316552 ...,  0.71056128  0.36109238
  0.79239928]

In [53]:
print(fulltestX)

        date_block_num  shop_id  item_id  month  year  item_cnt_month_mean  \
0                   34        5     5037     11  2015             1.444444
1                   34        5     5320     11  2015             0.000000
2                   34        5     5233     11  2015             2.000000
3                   34        5     5232     11  2015             1.000000
4                   34        5     5268     11  2015             0.000000
5                   34        5     5039     11  2015             1.833333
6                   34        5     5041     11  2015             2.500000
7                   34        5     5046     11  2015             2.000000
8                   34        5     5319     11  2015             5.727273
9                   34        5     5003     11  2015             0.000000
10                  34        5     4806     11  2015             3.650000
11                  34        5     4843     11  2015             1.000000
12                  34        5     4607     11  2015             1.000000
13                  34        5     4869     11  2015             2.571429
14                  34        5     4870     11  2015             3.629630
15                  34        5     4872     11  2015             4.388889
16                  34        5     4874     11  2015             0.000000
17                  34        5     4678     11  2015             1.000000
18                  34        5     4892     11  2015             3.571429
19                  34        5     4964     11  2015             2.500000
20                  34        5     4717     11  2015             3.000000
21                  34        5     5002     11  2015             0.000000
22                  34        5     5823     11  2015             2.960000
23                  34        5     5814     11  2015             2.000000
24                  34        5     5900     11  2015             2.125000
25                  34        5     5907     11  2015             0.000000
26                  34        5     5908     11  2015             0.000000
27                  34        5     5643     11  2015             1.555556
28                  34        5     5657     11  2015             2.250000
29                  34        5     5675     11  2015             5.000000
...                ...      ...      ...    ...   ...                  ...
214170              34       45    14543     11  2015             0.000000
214171              34       45    19253     11  2015             1.200000
214172              34       45    17957     11  2015             1.000000
214173              34       45    12470     11  2015             0.000000
214174              34       45     7543     11  2015             1.000000
214175              34       45     6661     11  2015             1.000000
214176              34       45    11137     11  2015             0.000000
214177              34       45    11489     11  2015             1.000000
214178              34       45     9782     11  2015             1.000000
214179              34       45     2972     11  2015             3.000000
214180              34       45    19889     11  2015             1.500000
214181              34       45    20650     11  2015             1.000000
214182              34       45     5665     11  2015             1.000000
214183              34       45     9978     11  2015             0.000000
214184              34       45    10767     11  2015             0.000000
214185              34       45    14443     11  2015             1.000000
214186              34       45    14341     11  2015             0.000000
214187              34       45     5401     11  2015             1.000000
214188              34       45     9500     11  2015             0.000000
214189              34       45    16007     11  2015             0.000000
214190              34       45     3280     11  2015             1.000000
214191              34       45     4393     11  2015             1.000000
214192              34       45     4352     11  2015             1.142857
214193              34       45    18049     11  2015             1.000000
214194              34       45    18027     11  2015             0.000000
214195              34       45    18454     11  2015             1.800000
214196              34       45    16188     11  2015             0.000000
214197              34       45    15757     11  2015             1.166667
214198              34       45    19648     11  2015             0.000000
214199              34       45      969     11  2015             1.666667

        item_cnt_prev_month  item_category_id  item_category_name  \
0                       0.0                19                  11
1                       0.0                55                  39
2                       1.0                19                  11
3                       0.0                23                  15
4                       0.0                20                  12
5                       1.0                23                  15
6                       2.0                20                  12
7                       0.0                55                  39
8                       0.0                55                  39
9                       0.0                20                  12
10                      3.0                30                  22
11                      0.0                20                  12
12                      0.0                55                  39
13                      0.0                22                  14
14                      2.0                23                  15
15                      6.0                19                  11
16                      0.0                72                  53
17                      0.0                55                  39
18                      2.0                30                  22
19                      0.0                20                  12
20                      1.0                55                  39
21                      0.0                19                  11
22                      1.0                35                  26
23                      1.0                19                  11
24                      3.0                30                  22
25                      0.0                20                  12
26                      0.0                23                  15
27                      0.0                 2                   1
28                      2.0                 3                   2
29                      7.0                 3                   2
...                     ...               ...                 ...
214170                  0.0                37                  28
214171                  0.0                30                  22
214172                  0.0                38                  29
214173                  0.0                58                  42
214174                  0.0                30                  22
214175                  0.0                21                  13
214176                  0.0                37                  28
214177                  0.0                40                  30
214178                  0.0                38                  29
214179                  0.0                30                  22
214180                  0.0                40                  30
214181                  0.0                72                  53
214182                  0.0                 3                   2
214183                  0.0                37                  28
214184                  0.0                37                  28
214185                  0.0                40                  30
214186                  0.0                40                  30
214187                  1.0                19                  11
214188                  0.0                40                  30
214189                  0.0                64                  47
214190                  0.0                55                  39
214191                  0.0                22                  14
214192                  0.0                22                  14
214193                  0.0                70                  51
214194                  0.0                70                  51
214195                  1.0                55                  39
214196                  0.0                64                  47
214197                  0.0                55                  39
214198                  0.0                40                  30
214199                  0.0                37                  28

        item_category_name_len             ...               \
0                           10             ...
1                           35             ...
2                           10             ...
3                           15             ...
4                           10             ...
5                           15             ...
6                           10             ...
7                           35             ...
8                           35             ...
9                           10             ...
10                          29             ...
11                          10             ...
12                          35             ...
13                          13             ...
14                          15             ...
15                          10             ...
16                          17             ...
17                          35             ...
18                          29             ...
19                          10             ...
20                          35             ...
21                          10             ...
22                          18             ...
23                          10             ...
24                          29             ...
25                          10             ...
26                          15             ...
27                          16             ...
28                          16             ...
29                          16             ...
...                        ...             ...
214170                      14             ...
214171                      29             ...
214172                      17             ...
214173                      14             ...
214174                      29             ...
214175                      10             ...
214176                      14             ...
214177                      10             ...
214178                      17             ...
214179                      29             ...
214180                      10             ...
214181                      17             ...
214182                      16             ...
214183                      14             ...
214184                      14             ...
214185                      10             ...
214186                      10             ...
214187                      10             ...
214188                      10             ...
214189                      25             ...
214190                      35             ...
214191                      13             ...
214192                      13             ...
214193                      30             ...
214194                      30             ...
214195                      35             ...
214196                      25             ...
214197                      35             ...
214198                      10             ...
214199                      14             ...

        item_category_name_tfidf_15  item_category_name_tfidf_16  \
0                          0.000000                     0.000000
1                          0.000000                     0.000000
2                          0.000000                     0.000000
3                          0.000000                     0.000000
4                          0.000000                     0.000000
5                          0.000000                     0.000000
6                          0.000000                     0.000000
7                          0.000000                     0.000000
8                          0.000000                     0.000000
9                          0.000000                     0.000000
10                         0.000000                     0.000000
11                         0.000000                     0.000000
12                         0.000000                     0.000000
13                         0.000000                     0.000000
14                         0.000000                     0.000000
15                         0.000000                     0.000000
16                         0.000000                     0.000000
17                         0.000000                     0.000000
18                         0.000000                     0.000000
19                         0.000000                     0.000000
20                         0.000000                     0.000000
21                         0.000000                     0.000000
22                         0.707107                     0.000000
23                         0.000000                     0.000000
24                         0.000000                     0.000000
25                         0.000000                     0.000000
26                         0.000000                     0.000000
27                         0.000000                     0.000000
28                         0.000000                     0.000000
29                         0.000000                     0.000000
...                             ...                          ...
214170                     0.000000                     0.520482
214171                     0.000000                     0.000000
214172                     0.000000                     0.520482
214173                     0.000000                     0.000000
214174                     0.000000                     0.000000
214175                     0.000000                     0.000000
214176                     0.000000                     0.520482
214177                     0.000000                     1.000000
214178                     0.000000                     0.520482
214179                     0.000000                     0.000000
214180                     0.000000                     1.000000
214181                     0.000000                     0.000000
214182                     0.000000                     0.000000
214183                     0.000000                     0.520482
214184                     0.000000                     0.520482
214185                     0.000000                     1.000000
214186                     0.000000                     1.000000
214187                     0.000000                     0.000000
214188                     0.000000                     1.000000
214189                     0.000000                     0.000000
214190                     0.000000                     0.000000
214191                     0.000000                     0.000000
214192                     0.000000                     0.000000
214193                     0.000000                     0.000000
214194                     0.000000                     0.000000
214195                     0.000000                     0.000000
214196                     0.000000                     0.000000
214197                     0.000000                     0.000000
214198                     0.000000                     1.000000
214199                     0.000000                     0.520482

        item_category_name_tfidf_17  item_category_name_tfidf_18  \
0                               0.0                          0.0
1                               0.0                          0.0
2                               0.0                          0.0
3                               0.0                          0.0
4                               0.0                          0.0
5                               0.0                          0.0
6                               0.0                          0.0
7                               0.0                          0.0
8                               0.0                          0.0
9                               0.0                          0.0
10                              0.0                          0.0
11                              0.0                          0.0
12                              0.0                          0.0
13                              0.0                          0.0
14                              0.0                          0.0
15                              0.0                          0.0
16                              0.0                          0.0
17                              0.0                          0.0
18                              0.0                          0.0
19                              0.0                          0.0
20                              0.0                          0.0
21                              0.0                          0.0
22                              0.0                          0.0
23                              0.0                          0.0
24                              0.0                          0.0
25                              0.0                          0.0
26                              0.0                          0.0
27                              0.0                          0.0
28                              0.0                          0.0
29                              0.0                          0.0
...                             ...                          ...
214170                          0.0                          0.0
214171                          0.0                          0.0
214172                          0.0                          0.0
214173                          0.0                          0.0
214174                          0.0                          0.0
214175                          0.0                          0.0
214176                          0.0                          0.0
214177                          0.0                          0.0
214178                          0.0                          0.0
214179                          0.0                          0.0
214180                          0.0                          0.0
214181                          0.0                          0.0
214182                          0.0                          0.0
214183                          0.0                          0.0
214184                          0.0                          0.0
214185                          0.0                          0.0
214186                          0.0                          0.0
214187                          0.0                          0.0
214188                          0.0                          0.0
214189                          0.0                          0.0
214190                          0.0                          0.0
214191                          0.0                          0.0
214192                          0.0                          0.0
214193                          0.0                          0.0
214194                          0.0                          0.0
214195                          0.0                          0.0
214196                          0.0                          0.0
214197                          0.0                          0.0
214198                          0.0                          0.0
214199                          0.0                          0.0

        item_category_name_tfidf_19  item_category_name_tfidf_20  \
0                               0.0                          0.0
1                               0.0                          1.0

In [55]:
rng = pd.Series(range(0,214200))
d = {'ID': rng, 'item_cnt_month': prediction}
results = pd.DataFrame(data=d)
print(results)

            ID  item_cnt_month
0            0        0.761876
1            1        0.325063
2            2        0.853166
3            3        0.641506
4            4        0.378890
5            5        0.883463
6            6        1.018173
7            7        0.855371
8            8        1.143537
9            9        0.378222
10          10        1.074973
11          11        0.684317
12          12        0.629764
13          13        0.860685
14          14        1.070094
15          15        1.277869
16          16        0.330678
17          17        0.629943
18          18        1.020876
19          19        0.921796
20          20        0.980310
21          21        0.330479
22          22        0.995851
23          23        0.853908
24          24        0.958611
25          25        0.380500
26          26        0.336712
27          27        0.775418
28          28        0.997883
29          29        1.450955
...        ...             ...
214170  214170        0.352556
214171  214171        0.733253
214172  214172        0.667851
214173  214173        0.346206
214174  214174        0.642449
214175  214175        0.635013
214176  214176        0.343974
214177  214177        0.647032
214178  214178        0.647253
214179  214179        0.890102
214180  214180        0.792070
214181  214181        0.678545
214182  214182        0.679529
214183  214183        0.341054
214184  214184        0.343042
214185  214185        0.654475
214186  214186        0.347721
214187  214187        0.667813
214188  214188        0.335523
214189  214189        0.362335
214190  214190        0.628041
214191  214191        0.638923
214192  214192        0.682605
214193  214193        0.671679
214194  214194        0.365126
214195  214195        0.917276
214196  214196        0.362791
214197  214197        0.710561
214198  214198        0.361092
214199  214199        0.792399

[214200 rows x 2 columns]

In [59]:
results.to_csv('forecast.csv', index=False)